html, body{
    margin: 0px;
    background-color: rgb(243, 239, 231);
    color: rgb(71, 53, 25);
    text-align: center;
    font-size: 1.2em;
    position: relative;
}

a:visited{
    color: rgb(71, 53, 25);
}

.btn{
    border: 2px solid rgb(30,30,30);
    border-radius: 5px;
    background-color: rgb(207, 205, 200);
    color: rgb(71, 53, 25);
    margin: 5px;
    padding: 3px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.code{
    color: rgb(71, 53, 25);
}

.code:visited{
    color: rgb(195, 136, 195)
}

